[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[user]
	email = trommatic@icloud.com
	name = Joshua Trommel
[core]
	hooksPath = /Users/joshua/.git-hooks
